* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #c8e2a0;
--light-color: #D2A9D9;

--menu1-color: #ffbaa3;
--menu2-color: #ffc0f8;
--menu3-color: #c1f3c4;
--menu4-color: #d0d9a9;
}

.container {
  background: #191919;
  height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--menu1-color);
}
#second {
    background: var(--menu2-color);
}

#third {
    background: var(--menu3-color);
}

#fourth {
    background: var(--menu4-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}